homeassistant:
  customize: !include customize.yaml
  # auth_providers:
    # - type: legacy_api_password
      # api_password: A123456a
    # - type: trusted_networks
      # trusted_networks:
        # - 192.168.1.0/24
        # - 127.0.0.1
  packages: !include_dir_named packages
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
websitechecker:
  websites:
    - url: https://www.google.com
      name: google_arrive
    - url: https://www.baidu.com
      name: baidu_arrive
##########################################################
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

#light: !include lights.yaml
rest:
  - scan_interval: 3600
    resource_template: http://tool.bitefu.net/jiari/?d={{ now().strftime('%Y%m%d') }}
    sensor:   
      - name: cn_workdays
        value_template: >-
          {% if value == '0' %}
            工作日
          {% elif value == '1' %}
            假日
          {% elif value == '2' %}
            节日
          {% else %}
            unknown
          {% endif %}
command_line:
  - sensor:
      name: CPU Temperature
      unique_id: 6f03a5d6-b32c-473d-a21b-69fd82ed4b4d
      command: "cat /sys/class/thermal/thermal_zone0/temp"
      unit_of_measurement: "°C"
      value_template: '{{ value | multiply(0.001) | round(1) }}'
      scan_interval: 10
  - sensor:
      name: Host Uptime State
      unique_id: 6f03a5d6-c33c-473d-a21b-69fd82ed4b4d
      command: "bash /share/uptime_check.sh"
      scan_interval: 30  # 每30秒检查一次
  - sensor:
      name: ZRAM 使用率
      command: "awk 'NR==2 {printf(\"%.0f\", $4/$3*100)}' /proc/swaps"
      unit_of_measurement: "%"
      scan_interval: 60
  - sensor:
      name: 系统可用内存
      command: "awk '/MemAvailable/ {printf(\"%.0f\", $2/1024)}' /proc/meminfo"
      unit_of_measurement: "MB"
      scan_interval: 60
script 2:
  run_on_kxsw:
    alias: Run KXSW command on host
    sequence:
    - service: ssh_command.exec_command
      data:
        host: zhuyf.local
        port: 22
        user: root
        pass: Yhzn123123...
        command: systemctl start v2raya.service
recorder:
  purge_keep_days: 7
  db_url: mysql://hass:raspberry@core-mariadb/hass8123database?charset=utf8mb4
  exclude:
    entities:
      - sun.sun
logger:
  default: info
  filters:
    homeassistant.components.mqtt.mixins:
    - "MQTT entity name starts with the device name in your config"
